$heading-black: #1e2633;
$subheading-brown: #985e5b;
$paragraph-dark-grey: #404040;
$gallery-background-light-gray: #f7f7f7;
$footer-background-light-gray: #edeff2;
$black: #000;
$white: #fff;
$menu-border-gray: #f2f2f2;